/* #region Fonts */

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/open-sans-v44-latin-latinext-400.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/open-sans-v44-latin-latinext-500.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/open-sans-v44-latin-latinext-600.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/open-sans-v44-latin-latinext-700.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/open-sans-v44-latin-latinext-800.woff2") format("woff2");
}

/* #endregion */

/* #region Global */

:root {
  --text-primary-color: #ffffff;
  --text-primary-color-70: rgba(255, 255, 255, 0.7);
  --text-secondary-color: #687fad;
  --text-additional-color: #212126;
  --background-primary-color: #121213;
  --background-secondary-color: #212126;
  --background-additional-color: #f6f6f6;
  --background-special-color-1: rgba(0, 46, 255, 0.4);
  --background-special-color-2: rgba(255, 255, 255, 0.1);
  --outline-color: #31353f;
  --outline-color-strong: #979797;
  --muted-color: #7c7c7c;
  --muted-color-70: rgba(124, 124, 124, 0.7);
  --accent-color: #ffe800;
  --accent-color-70: rgba(255, 232, 0, 0.7);
  --special-color-1: #7bc549;
  --special-color-2: #8da5aa;
}

/* #endregion */

/* #region Helpers */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* #endregion */

/* #region button */

.button {
  display: inline-block;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: 400;
  transition: opacity 200ms linear;
}

.button:enabled {
  cursor: pointer;
}

.button:enabled:hover {
  opacity: 0.7;
}

.button--secondary {
  border: 1px solid var(--outline-color);
  color: inherit;
  background: none;
}

/* sizes */

.button--size_m {
  font-size: 14px;
  line-height: 20px;
}

.button--size_m.button--secondary {
  padding: 19px;
}

/* #endregion */

/* #region checker */

.checker {
  display: inline-block;
}

.checker__label {
  display: block;
}

.checker__control[type="checkbox"]:enabled + .checker__label {
  cursor: pointer;
}

.checker__control[type="radio"]:enabled:not(:checked) + .checker__label {
  cursor: pointer;
}

.checker__control:focus-visible + .checker__label {
  outline: 1px solid var(--text-primary-color);
  outline-offset: 2px;
}

/* simple */

.checker--simple .checker__label {
  position: relative;
  transition: color 200ms linear;
}

.checker--simple .checker__counter {
  vertical-align: baseline;
  display: inline-block;
  padding: 4px 10px 3px;
  line-height: 1;
  font-weight: 500;
  border-radius: 18px;
  color: var(--text-primary-color);
  background: var(--background-special-color-1);
}

.checker--simple .checker__label::before {
  content: "";
  position: absolute;
  inset: -8px;
}

.checker--simple:hover .checker__control:enabled:not(:checked) + .checker__label {
  color: var(--text-primary-color-70);
}

.checker--simple .checker__control:checked + .checker__label {
  color: var(--accent-color);
}

.checker--simple.checker--size_m {
  font-size: 16px;
  line-height: 24px;
}

.checker--simple.checker--size_l {
  font-size: 20px;
  line-height: 28px;
  font-weight: 800;
}

/* icon */

.checker--icon .checker__label {
  width: 30px;
  height: 30px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  opacity: 0.5;
  transition: opacity 150ms linear;
}

.checker--icon:hover .checker__control:enabled:not(:checked) + .checker__label {
  opacity: 0.8;
}

.checker--icon .checker__control:checked + .checker__label {
  opacity: 1;
}

/* #endregion */

/* #region page */

.page__body {
  min-width: 1240px;
  margin: 0;
  font: 400 16px/20px "Open Sans", "Arial", sans-serif;
  color: var(--text-primary-color);
  background-color: var(--background-primary-color);
}

.page__inner {
  position: relative;
  z-index: 0;
  display: grid;
  height: 100dvh;
  grid-template: auto 1fr auto / 100%;
  overflow-y: auto;
}

/* #endregion */
